body {
  // background-color: #000;

  // Remove the container styles from the main AEM wrapper
  > .container {
    max-width: inherit;
    padding-left: 0;
    padding-right: 0;
  }

  // Disable page level scrolling
  &.no-scroll {
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}
