{
  "root": true,

  "extends": [
    "@chrisblossom/eslint-config",
    "plugin:vue/essential",
    "@vue/typescript"
  ],

  "plugins": [
    "cypress"
  ],

  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/indent": [1, 2, {"SwitchCase": 1, "VariableDeclarator": 1}]
  }
}
