.DS_Store
Thumbs.db

# Build-time folders
public/
target/

# IDE's
.idea/
.vscode/
*.iml

# Node
node/
node_modules/

# Content generator
content-generator/config/sut/icons.yml
content-generator/content/*
content-generator/output/*

# Projects
src/**/js/**/fontawesome.ts
src/**/scss/**/_colours.scss

# Cypress
cypress/reports/
