// PLEASE NOTE!!
//
// This overrides only styles that aren't configurable by Bootstrap, please take
// care when making changes as we shouldn't be duplicating styles that Bootstrap
// generates for us automatically.

.card {
  box-shadow: 0 2px 3px color('grey-4');
  height: 100%;
  margin-bottom: 0;
  width: 100%;

  &-img-top,
  // `.lazysizes-display-clone` is used for cases when the browser doesn't support 'object-fit'
  .lazysizes-display-clone {
    display: block;
    height: 145px;

    @include media-breakpoint-up(md) {
      height: 160px;
    }

    @include media-breakpoint-up(xl) {
      height: 210px;
    }
  }

  &-img-top img {
    @include object-fit(cover, center);

    display: block;
    height: 100%;
    width: 100%;
  }

  &-subtitle,
  &-date,
  &-taglist,
  &-text {
    margin-bottom: $card-spacer-y;
  }

  &-body {
    background-color: color('white');
    display: flex;
    flex-direction: column;

    // A small 'hack' (if you will) that ensures buttons remain aligned to the bottom of the
    // card as sibling cards will be the same height as oneanother.
    > :last-child:not(.card-title):not(.card-subtitle):not(.card-text) {
      margin-top: auto;
    }

    // Remove the bottom margin if it's the only or last child in the body
    > :only-child,
    > :last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 20px;
      padding-top: 20px;
    }

    @include media-breakpoint-up(xl) {
      padding: $grid-gutter-width 40px;
    }
  }

  &-date {
    font-weight: 300;
  }

  &-taglist {
    .taglist li::before {
      display: none;
    }

    ul {
      margin-bottom: 0;
    }

    li {
      padding-left: 0;
    }

    &--basic {
      color: color('grey-2');
      font-size: 12px;
      margin-bottom: 0;

      li::before {
        display: none;
      }
    }
  }

  &--taglist-button {
    .card-date {
      color: color('grey-2');
      font-weight: 400;
    }
    .taglist {
      &__item {
        border: 1px solid color('grey-2');
        border-radius: 3px;
        color: color('charcoal');
        display: inline-block;
        font-size: smaller;
        font-weight: 600;
        line-height: 16px;
        padding: 2px 8px;
      }
    }
  }

  &-text {
    color: #808285;
  }

  &-action {
    // Normally 40px, we take 16px from here because other elements are spaced that far apart
    padding-top: 24px;
  }

  &-link {
    @extend .link;

    height: auto;
  }

  // Variations and style changes
  @import 'card/background';
  @import 'card/common';
  @import 'card/notification';
  @import 'card/taglist-share';
  @import 'card/column';
  @import 'card/columns';
  @import 'card/testimonial';
  @import 'card/tiles-narrow';
}
