// PLEASE NOTE!!
//
// This overrides only styles that aren't configurable by Bootstrap, please take
// care when making changes as we shouldn't be duplicating styles that Bootstrap
// generates for us automatically.

// stylelint-disable max-nesting-depth
// stylelint-disable selector-max-compound-selectors

.navbar {
  height: 72px;
  justify-content: flex-start;

  &-toggler {
    > .embedsource {
      margin-right: auto;

      @include media-breakpoint-up(md) {
        margin-right: 0;
      }
    }
  }

  &-brand {
    transition: $transition-fade;

    img {
      height: 52px;
      width: 212px;
    }

    @include media-breakpoint-up(md) {
      margin-left: auto;
      margin-right: 0;
    }

    .global-search & {
      opacity: 0;

      @include media-breakpoint-up(lg) {
        opacity: 1;
      }
    }
  }

  &-home {
    color: $navbar-light-color;
    margin-right: 30px;
    order: 1;

    @include hover-focus {
      color: $navbar-light-hover-color;
      text-decoration: none;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 40px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &-collapse {
    @include media-breakpoint-up(md) {
      height: 100%;
    }

    @include media-breakpoint-down(md) {
      background-color: rgba(color('grey-1'), .5);
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: $zindex-fixed;
    }

    &.collapsing,
    &.collapse.show {
      transition: none;
    }
  }

  // Navigation bar
  &-nav {
    &,
    .nav-item {
      @include media-breakpoint-up(lg) {
        height: 100%;
      }
    }

    .nav-item {
      border-bottom: 1px solid rgba(color('red'), .3);

      @include media-breakpoint-up(lg) {
        align-items: center;
        border-bottom-width: 0;
        display: flex;
        max-width: 200px;
        position: relative;

        + .nav-item {
          margin-left: 30px;
        }
      }

      @include media-breakpoint-up(xl) {
        + .nav-item {
          margin-left: 40px;
        }
      }
    }

    .nav-link {
      align-items: flex-end;
      background-color: color('yellow');
      display: inline-flex;
      font-weight: 600;
      padding: 20px 30px;
      width: 100%;

      &.dropdown-toggle::after {
        border-width: 0;
        display: block;
        height: auto;
        margin-left: auto;
        margin-top: 0;
        position: relative;
        top: 2px;
        width: auto;
      }

      &[aria-expanded='true'] {
        outline: none;

        &::after {
          content: get-icon('chevron-up');
        }
      }

      @include media-breakpoint-up(lg) {
        line-height: 16px;

        &::before {
          background-color: #4cafbb;
          bottom: 0;
          content: '';
          display: block;
          height: 8px;
          left: 0;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          right: 0;
          transition: $transition-base;
        }

        &.dropdown-toggle::after {
          margin-left: 5px;
        }

        @include hover-focus {
          &,
          &[aria-expanded='true'] {
            &::before {
              opacity: 1;
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        font-size: 18px;

        .navbar-light & {
          @include hover-focus {
            color: $navbar-light-color;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        background-color: transparent;
        font-weight: 400;
        padding: 0;
      }
    }

    @include media-breakpoint-down(md) {
      background-color: #a0ece9;
      height: 100%;
      max-width: 340px;
      overflow-x: hidden;
      overflow-y: auto;
      width: 70%;
    }

    @include media-breakpoint-up(lg) {
      align-items: center;
    }
  }

  @include media-breakpoint-up(md) {
    flex-direction: row-reverse;
    height: 80px;
  }
}
