#python -c "import ansible; print(ansible.__version__)"
#ansible==2.2.1.0
#ansible<2.6.0
ansible

#python -c "import paramiko; print(paramiko.__version__)"
paramiko

#python -c "import pycrypto; print(pycrypto.__version__)"
pycrypto

#python -c "import yaml; print(yaml.__version__)"
PyYAML

#python -c "import jinja2; print(jinja2.__version__)"
Jinja2<2.9

#python -c "import httplib2; print(httplib2.__version__)"
httplib2

#python -c "import boto; print(boto.__version__)"
boto

#python -c "import xmltodict; print(xmltodict.__version__)"
xmltodict

#python -c "import six; print(six.__version__)"
six

#python -c "import packaging; print(packaging.__version__)"
packaging

#python -c "import appdirs; print(appdirs.__version__)"
appdirs

#python -c "import setuptools; print(setuptools.__version__)"
setuptools

#python -c "import cryptography; print(cryptography.__version__)"
cryptography

#python -c "import docker; print(docker.__version__)"
#docker>==2.0.0

#python -c "import docker; print(docker.__version__)"
#docker-py>==1.9.0
docker

#python -c "import docker; print(docker.__version__)"
docker-compose

#python -c "import BeautifulSoup; print(BeautifulSoup.__version__)"
beautifulsoup4

#python -c "import pycurl; print(pycurl.version)"
pycurl

#pyaem
#python -c "import pyaem; print(pyaem.__version__)"
pyaem2
