.news-details[component] {
  padding: $spacing-md 0;
  position: relative;

  > .container {
    max-width: 575px;
  }

  @include media-breakpoint-up(md) {
    padding: $spacing-2xl 0;
  }

  @include media-breakpoint-up(lg) {
    > .container {
      max-width: 690px;
    }
  }

  @include media-breakpoint-up(xl) {
    padding: $spacing-3xl 0;
    > .container {
      max-width: 915px;
    }
  }

  &::before {
    background-color: color('charcoal');
    content: ' ';
    display: block;
    height: 260px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    @include media-breakpoint-up(md) {
      height: 290px;
    }

    @include media-breakpoint-up(lg) {
      height: 350px;
    }

    @include media-breakpoint-up(xl) {
      height: 400px;
    }
  }

  h1,
  .published,
  .tag {
    color: $white;
  }

  h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    margin: 0 0 $spacing-lg 0;

    @include media-breakpoint-up(md) {
      font-size: 30px;
      line-height: 36px;
      margin: 0 0 $spacing-3xl 0;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 0 $spacing-4xl 0;
    }
  }

  .tags,
  .published {
    display: inline-block;
    font-size: 10px;
    margin: 0 0 $spacing-sm 0;

    @include media-breakpoint-up(md) {
      margin: 0 0 $spacing-lg 0;
    }

    @include media-breakpoint-up(lg) {
      font-size: 12px;
      margin: 0 0 $spacing-2xl 0;
    }
  }

  .tags {
    .tag {
      display: inline-block;
      margin-left: $spacing-2xs;

      &::before {
        color: $white;
        content: '#';
        font-size: 10px;

        @include media-breakpoint-up(lg) {
          font-size: 12px;
        }
      }
    }

    &::before {
      background-color: $white;
      content: ' ';
      display: inline-block;
      height: 17px;
      margin-left: $spacing-2xs;
      margin-right: 3px;
      transform: translateY(4px);
      width: 1px;

      @include media-breakpoint-up(lg) {
        height: 24px;
        margin-left: $spacing-xs;
        margin-right: $spacing-2xs;
        transform: translateY(6px);
      }
    }
  }

  nav.breadcrumb > ol.breadcrumb {
    padding-bottom: 10px;
    padding-top: 10px;

    @include media-breakpoint-up(md) {
      padding-bottom: 15px;
      padding-top: 20px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 30px;
      padding-top: 30px;
    }
  }

  .card-img-top {
    max-height: inherit;
    overflow: visible;

    img {
      display: block;
      height: auto;
      min-height: auto;
      min-width: auto;
      position: relative;
      top: 0;
      transform: inherit;
      width: 100%;
    }

    &::before {
      display: none;
    }
  }
}
