// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

[component].taglist {
  list-style-type: none;
  padding-left: 0;

  &__item {
    color: color('grey-2');
    display: inline-block;
    margin-right: 10px;
    padding-left: 0;
  }
}
