.cards-column &,
.cards-columns &,
[class*='card--column'] {
  .card-link {
    min-width: 125px;

    @include media-breakpoint-up(md) {
      min-width: 175px;
    }
  }

  .card-text {
    margin-bottom: 45px;
  }

  .card-action {
    padding-top: 0;
  }
}
