&-narrow {
  > .container {
    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
      padding-top: 40px;

      // stylelint-disable-next-line
      header,
      header + .responsivegrid {
        padding-left: 50px;
        padding-right: 50px;
      }
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 50px;
      padding-top: 50px;

      &::before {
        width: 790px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding-top: 0;

    .page-details__hero,
    .page-details__hero img {
      max-height: 200px;
    }

    .page-details__hero {
      position: static;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 350px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 430px;

    .ie-11 & {
      min-height: 390px;
    }
  }
}
