// stylelint-disable declaration-no-important
// stylelint-disable selector-max-compound-selectors

&__container {
  display: flex;
  flex-direction: row;

  .navbar-toggler {
    align-items: center;
    color: color('charcoal');
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    margin-left: $spacing-xs;
    overflow: hidden;
    width: 80px;

    div {
      transition: transform .3s ease-in-out, opacity .3s ease-in-out;
      width: 100%;

      > * {
        vertical-align: middle;
      }

      &:first-child {
        opacity: 0;
        transform: translateY(-10px);

        .icon {
          margin-left: -12px;
        }

        .link-text {
          margin-left: $spacing-2xs + 1px;
        }
      }

      &:last-child {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &[aria-expanded='true'] {
      div {
        &:first-child {
          opacity: 1;
          transform: translateY(16px);
        }
        &:last-child {
          opacity: 0;
          transform: translateY(22px);
        }
      }
    }

    @include media-breakpoint-between(md, md) {
      div {
        &:last-child {
          transform: translateY(5px);
        }
      }
      &[aria-expanded='true'] {
        div {
          &:first-child {
            transform: translateY(21px);
          }
          &:last-child {
            transform: translateY(34px);
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      display: none !important;
    }
  }

  @include media-breakpoint-up(lg) {
    background-color: color('white');

    .collapse:not(.show) {
      display: flex;
    }
  }
}
