// stylelint-disable declaration-no-important

&__nav-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 0 !important;
  left: 0;
  margin-top: 47px;
  position: fixed;
  top: 0;
  width: 100%;

  // Level 1
  .dropdown {
    position: static;
  }

  @include media-breakpoint-down(md) {
    background-color: color('charcoal');
    overflow-x: hidden;
    transition: height .3s ease-in-out;

    .brand-header__nav,
    .brand-header__admin {
      opacity: 0;
      transition: opacity .3s ease-in-out;
      transition-delay: .2s;
    }

    &.show {
      height: calc(100vh - #{$header-height-sm}) !important;

      + .brand-header__nav-backdrop {
        height: 100vh;
      }

      .brand-header__nav,
      .brand-header__admin {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    + .brand-header__nav-backdrop {
      height: $header-height-sm;
    }

    &.show {
      height: calc(100% - #{$header-height-sm}) !important;

      + .brand-header__nav-backdrop {
        height: 100vh;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &:not(.collapse):not(.collapsing) {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: $header-height-md;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    flex-wrap: wrap;
    height: $header-height;
    margin-top: 0;
    position: static;
    width: calc(100% - 176px);
  }

  @include media-breakpoint-up(xl) {
    height: $header-height-xl;
  }

  @include media-breakpoint-down(md) {
    background-color: color('charcoal');
    max-width: 320px;
    overflow-y: auto;
  }
}

&__nav-backdrop {
  background-color: rgba($white, .5);
  display: block;
  height: $header-height-md;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: height .3s ease-in-out;
  width: calc(100% - 320px);

  @include media-breakpoint-up(lg) {
    display: none;
  }

}
