// stylelint-disable declaration-no-important
// stylelint-disable max-nesting-depth
// stylelint-disable selector-max-class
// stylelint-disable selector-max-combinators
// stylelint-disable selector-max-compound-selectors
// stylelint-disable selector-max-type

&__nav {
  flex-direction: row;
  font-size: 12px;
  font-weight: 700;
  padding: 0 $spacing-md;
  width: auto;

  a[class*='l-'],
  .nav-link {
    .svg-inline--fa {
      display: block;
      font-size: icon-size(regular);
      margin-left: auto;
      margin-right: $spacing-lg;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  .meta {
    display: none;

    .title {
      color: $white;
    }

    .description {
      color: color('grey-1');
      font-weight: 400;
    }
  }

  @include media-breakpoint-down(md) {
    .meta {
      display: block;

      .title {
        margin-top: $spacing-md;
      }

      .description {
        display: none;
      }
    }

    a.l-2 + .dropdown-menu {
      z-index: 6;

      .meta {
        &,
        .description {
          display: block;
        }
      }
    }
  }

  a.l-1,
  a.l-2 {
    @include media-breakpoint-up(lg) {
      &::before {
        background-color: transparent;
        bottom: 0;
        content: ' ';
        display: block;
        height: 20px;
        left: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
        z-index: 0;
      }

      &:hover::before {
        transition: background-color .3s ease-in-out, height .3s ease-in-out, opacity .5s ease-in-out;
      }

      &[aria-expanded='true']::before {
        opacity: 1;
      }
    }
  }

  a.l-1 {
    z-index: 1;

    @include media-breakpoint-up(lg) {
      &::before {
        height: 20px;
      }

      &:hover {
        box-shadow: inset 0 -2px 0 color('charcoal');
      }

      &.active,
      &[aria-expanded='true'] {
        box-shadow: none;

        &::before {
          background-color: color('red');
          height: 2px;
        }
      }

      &.active::before {
        opacity: 1;
      }

      + .dropdown-menu {
        margin-top: 0;
      }
    }
  }

  a[class*='l-'] {
    align-items: center;
    color: color('charcoal');
    display: flex;
    font-size: 12px;
    height: 100%;
    line-height: 16px;
    margin-right: $spacing-md;
    margin-top: 0;
    position: relative;

    &::after {
      display: none;
    }

    @include media-breakpoint-down(md) {
      box-shadow: none;
      height: 47px;
      margin-right: 0;
      width: 100%;

      @include yellow-link;
    }

    @include media-breakpoint-between(md, md) {
      height: 57px;
    }
  }

  .nav-item {
    flex-wrap: nowrap;
    padding-left: 0;

    &::before {
      display: none;
    }

    &:last-child[class*='l-'] {
      margin-right: 0;
    }

    // Level 2
    .dropdown-menu {
      align-items: center;
      background-color: color('grey-5');
      border: 0;
      border-radius: 0;
      box-shadow: 0 2px 3px color('grey-3');
      flex-direction: row;
      height: $header-level2-height;
      left: 0;
      overflow: auto;
      padding: 0 $spacing-md;
      width: 100%;

      @include media-breakpoint-up(lg) {
        display: flex !important;
        overflow: visible;
        position: absolute;
        top: 0;
        transform: translate3d(0, 33px, 0) !important;
        transition: transform .3s ease-in-out;
        z-index: -1;

        &.show {
          transform: translate3d(0, 89px, 0) !important;
        }
      }

      @include media-breakpoint-up(xl) {
        transform: translate3d(0, 42px, 0) !important;

        &.show {
          transform: translate3d(0, 98px, 0) !important;
        }
      }

      @include media-breakpoint-down(md) {
        background-color: color('charcoal');
        box-shadow: none;
        display: block !important;
        height: calc(100vh - 27px);
        margin-top: 0;
        overflow: auto;
        overflow-x: hidden;
        padding-right: 0;
        position: absolute;
        top: 0;
        transform: translateX(100%) !important;
        transition: transform .3s ease-in-out .3s;
        width: 100%;
        z-index: 5;

        a.l-2 + .dropdown-menu {
          z-index: 6;
        }

        &.show {
          transform: translateX(0) !important;
        }
      }

      button.link {
        background: transparent;
        border: 0;
        color: $white;
        display: flex;
        flex-direction: row-reverse;
        font-weight: 700;
        margin-top: $spacing-sm;
        padding-left: 0;

        &,
        .icon {
          font-size: 12px;
        }

        &[data-nav='undefined-meta'] {
          display: none;
        }

        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      a {
        &.l-2 {
          color: color('grey-2');
          height: 50px;
          margin-right: $spacing-md;
          padding-top: 0;
          transition: color 300ms ease-in-out;

          &::before {
            height: 10px;
            transform: translateY(2px);
          }

          &::after {
            background-color: color('grey-2');
            bottom: 0;
            content: '';
            display: block;
            height: 0;
            left: 0;
            position: absolute;
            transition: height 150ms ease-in-out;
            width: 100%;
          }

          @include hover {
            &::after {
              height: 2px;
            }
          }

          @include media-breakpoint-up(lg) {
            &[aria-expanded='true'] {
              color: color('charcoal');

              &::before {
                background-color: currentColor;
                height: 2px;
              }

              &::after {
                height: 0;
              }
            }

            &.active,
            &:active {
              color: color('charcoal');

              &::after {
                background-color: currentColor;
                height: 2px;
              }
            }
          }

          @include media-breakpoint-down(md) {
            height: 57px;
            width: 100%;

            &,
            &[aria-expanded='true'],
            &::before {
              color: $white;
            }

            @include yellow-link;
          }

          @include media-breakpoint-down(sm) {
            height: 47px;
          }

          // Desktop (Level 3)
          @include media-breakpoint-up(lg) {
            .meta {
              display: none;
            }

            + .dropdown-menu {
              background-color: color('charcoal');
              display: block !important;
              height: 0;
              max-width: 936px;
              overflow-y: auto;
              padding-bottom: 0;
              padding-left: 415px;
              padding-right: $spacing-6xl;
              padding-top: 0;
              position: absolute;
              transform: translate3d(20px, 48px, 0) !important;
              transition: height .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s ease-in-out;
              width: auto;

              .meta {
                left: 0;
                margin: 0 0 $spacing-md $spacing-6xl;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: margin .3s ease-in-out, opacity .3s ease-in-out .2s;
                width: 375px;

                &,
                > * {
                  display: block;
                }

                .title {
                  color: $white;
                  margin-top: -$spacing-2xs;
                }

                .description {
                  color: color('grey-1');
                  font-weight: 400;
                }
              }

              a.l-3 {
                opacity: 0;
                transition: opacity .3s ease-in-out .2s;
              }

              &.show {
                height: 400px;
                padding-bottom: $spacing-4xl;
                padding-top: $spacing-4xl;

                a.l-3,
                .meta {
                  opacity: 1;
                }

                .meta {
                  margin: $spacing-4xl 0 $spacing-md $spacing-6xl;
                }
              }
            }
          }
        }
      }

      div.l-3,
      div.l-2 {
        @include media-breakpoint-down(md) {
          &:last-of-type {
            margin-bottom: $spacing-md;
          }
        }
      }

      div.l-3 {
        @include media-breakpoint-up(lg) {
          display: inline-block;
          float: left;
          height: auto;
          margin: 0 0 $spacing-md 0;
          padding-left: $spacing-lg;
          vertical-align: top;
          width: 50%;

          a {
            color: $white;
            margin-right: 0;

            &.active,
            &:hover {
              text-decoration: underline;
            }
          }

          &:last-of-type,
          &:nth-last-of-type(2) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: block;
    height: auto;
    max-width: inherit;
    order: -1;
    padding-right: 0;

    a[class*='l-'],
    .nav-link {
      color: $white;
      position: relative;
    }

    .nav-item {
      display: block;

      &:focus {
        &,
        > a {
          outline: none;
        }
      }
    }
  }
}
