&__quick-search {
  // This is required to override a design choice within AEM Design.
  // stylelint-disable-next-line
  width: auto !important;

  &,
  form,
  input[type='search'] {
    height: 100%;
  }

  form {
    align-items: center;
    display: flex;
  }

  input[type='search'] {
    $logo-width: logo-size(primary, sm, width);
    $logo-width-md: logo-size(primary, md, width);
    $logo-width-lg: logo-size(primary, lg, width);
    $logo-width-xl: logo-size(primary, xl, width);

    background-color: $white;
    border-width: 0;
    opacity: 0;
    padding: 0 15px;
    pointer-events: none;
    position: absolute;
    right: 45px;
    top: 0;
    transition: $transition-fade;
    // <viewport width> - <logo width> - <submit button margin> - <submit button width>
    width: calc(100vw - #{$logo-width} - 15px - 30px);
    z-index: 1;

    @include media-breakpoint-up(md) {
      right: calc(100% - 40px);
      // (<viewport width> - <parent width / 2>) - <logo width> - <submit button width> - <parent margin> - <parent^parent padding / 2>
      width: calc((100vw - 50%) - #{$logo-width-md} - 30px - #{$actions-margin} - 10px);
    }

    @include media-breakpoint-up(lg) {
      width: calc((100vw - 50%) - #{$logo-width-lg} - 40px - #{$actions-margin} - 10px);
    }

    @include media-breakpoint-up(xl) {
      width: calc((100vw - 50%) - #{$logo-width-xl} - 40px - #{$actions-margin} - 10px);
    }
  }

  button[type='submit'] {
    background-color: transparent;
    border-width: 0;
    display: block;
    margin-right: 10px;
    padding: 0;
    pointer-events: all;
    transition: margin-left 200ms ease-in-out;
    width: 30px;
    z-index: 2;
  }

  &.show {
    input[type='search'] {
      opacity: 1;
      pointer-events: all;
    }

    button[type='submit'] {
      @include media-breakpoint-down(sm) {
        margin-left: auto;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    form {
      display: flex;
      pointer-events: none;
      position: absolute;
      right: 30px;
      transition: $transition-base;
      width: calc(100% + #{$actions-margin});
      z-index: 10;
    }

    &.show form {
      background-color: $white;
      pointer-events: all;
      right: -$actions-margin;
    }
  }
}
