// stylelint-disable declaration-no-important
// stylelint-disable selector-max-class

ul.navlist {
  border-top: 1px solid map-get($colors, 'grey-2');
  margin-left: -$gutter-half-width;
  margin-right: -$gutter-half-width;
  padding-left: 0;
  padding-top: math.div($grid-gutter-width, 1.5);

  li:not(:last-child) {
    border-bottom: 1px solid map-get($colors, 'grey-2');
    margin-bottom: math.div($grid-gutter-width, 1.5);
    padding-bottom: math.div($grid-gutter-width, 1.5);
  }

  .dropdown-menu {
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
    float: none;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: static !important;
    transform: none !important;

    .nav-link {
      padding-bottom: math.div($nav-link-padding-y, 1.5);
      padding-top: math.div($nav-link-padding-y, 1.5);

      &:hover {
        background-color: rgba(map-get($colors, 'grey-1'), 0.5);
      }

      &.active {
        color: map-get($colors, 'grey-5');
        font-weight: 600;
      }
    }
  }

  .nav-item.depth-1 {
    > .dropdown-toggle {
      color: map-get($colors, 'grey-9');
      font-family: $headings-font-family;
      font-weight: 700;
      padding: 6px $gutter-half-width;
      pointer-events: none;
    }

    > .dropdown-menu {
      display: block;
    }
  }

  .nav-item.depth-2 {
    > .dropdown-toggle {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &::after {
        content: '+';
        display: inline-block;
        font-size: $font-size-lg;
        font-weight: $font-weight-normal;
      }
    }

    > .dropdown-menu {
      border-left: 1px solid map-get($colors, 'grey-2');
      margin-left: $gutter-half-width;
    }

    &.dropdown-submenu.active > .dropdown-toggle,
    &.dropdown-submenu.show > .dropdown-toggle {
      color: map-get($colors, 'gray-7');

      &::after {
        content: '-';
      }
    }

    &.dropdown-submenu.active.keep-open {
      > .dropdown-toggle::after {
        display: none;
      }

      > .dropdown-menu {
        display: block !important;
      }
    }
  }

  .nav-item.depth-3 {
    font-size: $font-size-base - 2px;

    .nav-link {
      border-left: 1px solid transparent;
      margin-left: -1px;

      &:not(.active):hover {
        border-left-color: map-get($colors, 'grey-4');
        color: $link-hover-color;
      }

      &.active {
        border-left-color: map-get($colors, 'grey-7');
      }
    }
  }

  .meta {
    display: none;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-half-width;
  }
}
