///
@mixin container-flush($pseudo: ':not(:last-child)') {
  [class*='col']#{unquote($pseudo)} > div {
    @content;
  }
}

///
@mixin aspect-ratio(
  $width: 16,
  $height: 9,
  $selector: '.content',
  $needs-position: true
) {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: aspect-ratio($width, $height);
    width: 100%;
  }

  @if $needs-position == true {
    > #{unquote($selector)} {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
