// Clears the 'X' from Internet Explorer
input[type='search']::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

input[type='search']::-ms-reveal {
  display: none;
  height: 0;
  width: 0;
}

// Clears the 'X' from Chrome
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
