%yellow-foil {
  background-color: color('yellow');
  background-image: url(/etc.clientlibs/aemdesign-compose/clientlibs/core/clientlibs-header/resources/images/patterns/foil-yellow.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 13px 140px;
}

%charcoal-foil {
  background-color: color('charcoal');
  background-image: url(/etc.clientlibs/aemdesign-compose/clientlibs/core/clientlibs-header/resources/images/patterns/foil-white.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 13px 140px;
}

%red-foil {
  background-color: color('red');
  background-image: url(/etc.clientlibs/aemdesign-compose/clientlibs/core/clientlibs-header/resources/images/patterns/foil-red.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 13px 140px;
}

%white-foil {
  background-image: url(/etc.clientlibs/aemdesign-compose/clientlibs/core/clientlibs-header/resources/images/patterns/foil-white.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 13px 140px;
}

%yellow-card-body {
  > *:not(.card-action),
  > .card-action .card-link.btn-link {
    color: color('charcoal');
  }
}

%charcoal-card-body {
  background-color: color('charcoal');
  background-image: none;

  > *:not(.card-tags):not(.card-action),
  > .card-action .card-link.btn-link {
    color: $white;
  }

  .card-title {
    &::after {
      background-color: color('yellow');
    }
  }

  // stylelint-disable-next-line
  .card-action .btn:not(.btn-link),
  .card-action > span,
  .card-action > svg,
  .card-action > svg > path {
    color: color('charcoal');
  }

  // stylelint-disable-next-line
  > .card-taglist > ul > li {
    color: #ffd200;
  }
}
