// stylelint-disable selector-max-combinators
// stylelint-disable selector-max-compound-selectors

.brand-footer {
  overflow: hidden;

  &,
  a.link[component],
  .text[component] * {
    color: inherit;
    font-size: 10px;
    line-height: 22px;
  }

  .text[component] a {
    text-decoration: underline;

    @include hover {
      text-decoration: none;
    }
  }

  &__global {
    padding-bottom: 20px;
    padding-top: 20px;

    @include media-breakpoint-up(md) {
      padding-bottom: 30px;
      padding-top: 30px;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }

  &__aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div[component] {
      width: 50%;

      .text[component] {
        margin-bottom: 10px;
      }

      &:not(.embedsource) {
        width: 100%;
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      @include media-breakpoint-up(md) {
        &,
        &:not(.embedsource) {
          width: auto;
        }
      }
    }

    @include media-breakpoint-up(md) {
      justify-content: flex-start;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      margin-bottom: 30px;
      min-width: 258px;
      width: 258px;
    }

    @include media-breakpoint-up(xl) {
      flex-direction: column;
      min-width: 398px;
      width: 398px;
    }
  }

  &__logo {
    order: -1;

    img {
      height: 58px;
      width: 114px;

      @include media-breakpoint-up(lg) {
        height: 78px;
        width: 154px;
      }

      @include media-breakpoint-up(xl) {
        height: 89px;
        width: 176px;
      }
    }

    @include media-breakpoint-up(md) {
      margin-right: 90px;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 0;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 30px;
      padding-top: 30px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    > .text[component] {
      width: 100%;
    }

    > a.link[component] {
      transition: opacity 250ms ease-in-out;
      width: auto;

      &:not(:last-child) {
        margin-bottom: 10px;

        @include media-breakpoint-up(xl) {
          margin-bottom: 0;
          margin-right: 30px;
        }
      }

      @include hover-focus {
        opacity: .7;
      }
    }

    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }
  }

  &__knowing {
    order: -1;
    text-align: right;

    img {
      height: 58px;
      width: 58px;
    }

    @include media-breakpoint-up(md) {
      margin-left: auto;
      order: 0;
      text-align: left;
    }
  }

  &__sitemap {
    margin-bottom: 30px;
    margin-right: -20px;

    > div[component] {
      border-bottom: 1px solid rgba(color('white'), .3);
      padding-bottom: 11px;
      padding-top: 11px;

      > a.link[component] {
        font-weight: 700;

        @include hover-focus {
          text-decoration: underline;
        }

        @include media-breakpoint-up(md) {
          display: inline-block;
          margin-bottom: 2px;
        }
      }

      @include media-breakpoint-up(md) {
        border-bottom-width: 0;
        margin-bottom: 20px;
        margin-right: 10px;
        min-width: calc(100% / 3 - 10px);
        padding-bottom: 0;
        padding-top: 0;
        width: calc(100% / 3 - 10px);

        .pagelist[component] .content ul {
          li {
            flex-basis: inherit !important;
            max-width: inherit !important;
          }
        }

        &:nth-child(3n+3) {
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
          width: 100%;

          .pagelist[component] ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
              flex-basis: calc(100% / 3 - 20px) !important;
              max-width: calc(100% / 3 - 20px) !important;

              + li {
                margin-left: 20px;
              }

              &:nth-child(3n+1) {
                margin-left: 0;
              }
            }
          }
        }
      }

      @include media-breakpoint-up(lg) {
        min-width: calc(25% - 10px);

        &,
        &:last-child {
          width: calc(25% - 10px);
        }

        &:nth-child(3n+3) {
          margin-right: 10px;
        }

        &:nth-child(4n+4) {
          margin-right: 0;
        }

        &:last-child .pagelist[component] ul li {
          flex-basis: 100% !important;
          max-width: 100% !important;

          // stylelint-disable-next-line
          + li {
            margin-left: 0;
          }
        }
      }
    }

    .pagelist[component] {
      ul {
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
      }

      li {
        flex-basis: 100%;
        margin-bottom: 0;
        max-width: 100%;
        padding: 0;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      margin-right: 0;
    }

    @include media-breakpoint-up(lg) {
      height: 0%;
      width: calc(100% - 258px);
    }

    @include media-breakpoint-up(xl) {
      width: calc(100% - 398px);
    }
  }

  &__acknowlodgement {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    > div[component] {
      &:first-child {
        margin-bottom: 10px;
        width: 100%;

        @include media-breakpoint-up(md) {
          width: auto;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 5px;
        }
      }

      &.embedsource {
        grid-column-start: 1;
        grid-row-start: 2;
        margin-right: 10px;

        @include media-breakpoint-up(md) {
          margin-bottom: 10px;
          order: -1;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
          order: unset;
        }
      }

      &.text:not(:first-child) {
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-row-start: 1;
      }
    }

    > .text[component],
    > a.link[component] {
      font-weight: 300;
    }

    > a.link[component] {
      text-decoration: underline;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-row-start: 2;
      grid-template-columns: 258px 1fr;
      grid-template-rows: auto auto; // IE11 compatibility

      > * {
        align-self: start;
      }
    }

    @include media-breakpoint-up(xl) {
      margin-left: 398px;
      width: calc(100% - 398px);
    }
  }

  &__admin {
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    position: relative;

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 12px;

      // Force the `.text` components into a horizontal alignment
      .col-sm:last-child {
        display: flex;
        justify-content: flex-end;

        .text[component]:not(:first-child) {
          margin-left: 30px;
        }
      }

      &::before {
        background-color: color('grey-2');
        content: '';
        display: block;
        height: 1px;
        margin-bottom: 12px;
        transform: translateX(-50%);
        width: calc(100vw + 100%);
      }
    }
  }
}
