.brand-header {
  background-color: $white;
  box-shadow: 0 0 4px 0 rgba($black, .5);
  height: $header-height-sm;
  position: relative;
  width: 100%;
  z-index: 1000;

  a:hover {
    text-decoration: none;
  }

  @import 'header/shared';
  @import 'header/actions';
  @import 'header/admin';
  @import 'header/container';
  @import 'header/nav';
  @import 'header/nav-container';
  @import 'header/quick-search';

  &__container > &__actions {
    display: inline-flex;
  }

  &__nav-container > &__actions {
    display: none;
  }

  @include media-breakpoint-up(md) {
    height: $header-height-md;
  }

  @include media-breakpoint-up(lg) {
    height: $header-height - 1px;
    position: relative;

    &__nav-container > &__actions {
      display: inline-flex;
    }

    &__container > &__actions {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    height: $header-height-xl - 1px;
  }
}

@include aem-author-edit {
  .brand-header {
    // stylelint-disable-next-line
    position: relative !important;

    .dropdown-menu {
      // stylelint-disable-next-line
      display: none !important;
    }
  }
}
