.styleguide-table {
  font-size: 14px;

  &__row {
    // border-bottom: 1px solid color('grey-4');

    &--header {
      border-color: $primary;
    }

    &:last-child {
      border: 0;
    }
  }

  &__cell,
  &__header {
    padding: 10px 25px;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }
  }

  &__cell {
    &--code {
      font-family: monospace;
    }
  }
}
