// stylelint-disable selector-max-compound-selectors

&--background,
.cards-background & {
  background-color: color('white');
  position: relative;

  .card-img-top,
  // `.lazysizes-display-clone` is used for cases when the browser doesn't support 'object-fit'
  .lazysizes-display-clone {
    @include media-breakpoint-up(lg) {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .card-img-top {
    img {
      @include object-fit(contain, top);

      @include media-breakpoint-only(sm) {
        @media (orientation: landscape) {
          @include object-fit(cover, left bottom);
        }
      }

      @include media-breakpoint-up(lg) {
        @include object-fit(contain, right bottom);
      }
    }

    @include media-breakpoint-only(sm) {
      @media (orientation: landscape) {
        bottom: 0;
        height: auto;
        left: 50%;
        margin-left: -50px;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
      }
    }
  }

  .card-body {
    background-color: transparent;
    padding: 30px;
    position: relative;

    .card-subtitle {
      margin-bottom: 0;

      @include media-breakpoint-up(lg) {
        margin-bottom: 6px;
      }
    }

    .card-title {
      margin-bottom: 20px;
    }

    .card-text {
      margin-bottom: 30px;
    }

    .card-action {
      padding-top: 0;

      @include media-breakpoint-up(lg) {
        // stylelint-disable-next-line
        margin-top: 0 !important;
      }
    }

    .card-link {
      min-width: 135px;
    }

    @include media-breakpoint-only(sm) {
      @media (orientation: landscape) {
        max-width: 60%;
        padding: 35px;
      }
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      min-width: 50%;
      width: 50%;
    }

    @include media-breakpoint-up(xl) {
      padding: 40px 20px 40px 40px;
    }
  }

  @include media-breakpoint-up(lg) {
    display: block;
    height: 350px;
    min-height: 350px;
  }

  @include media-breakpoint-up(xl) {
    height: 405px;
    min-height: 405px;
  }
}
