&--column,
.cards-column & {
  .card-img-top,
  .card-body,
  // `.lazysizes-display-clone` is used for cases when the browser doesn't support 'object-fit'
  .lazysizes-display-clone {
    @include media-breakpoint-up(lg) {
      max-height: 435px;
      min-height: 435px;
      min-width: 50%;
      width: 50%;
    }

    @include media-breakpoint-up(xl) {
      max-height: 500px;
      min-height: 500px;
    }
  }

  .card-img-top,
  // `.lazysizes-display-clone` is used for cases when the browser doesn't support 'object-fit'
  .lazysizes-display-clone {
    height: 150px;

    @include media-breakpoint-up(md) {
      height: 178px;
    }
  }

  .card-body {
    @include media-breakpoint-up(xl) {
      padding: 50px 60px;
    }
  }

  .card-title {
    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }

  .card-text {
    @include media-breakpoint-up(md) {
      margin-bottom: 25px;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}
