.cards-columns & {
  .card-img-top {
    height: 154px;

    @include media-breakpoint-up(md) {
      height: 178px;
    }
  }

  .card-title {
    @include media-breakpoint-up(lg) {
      margin-bottom: 25px;
    }
  }
}

.cards-columns.theme--lists-equal & {
  .card-img-top {
    @include media-breakpoint-up(lg) {
      height: 160px;
    }

    @include media-breakpoint-up(xl) {
      height: 220px;
    }
  }
}
