// stylelint-disable selector-max-compound-selectors
// stylelint-disable declaration-no-important

&--testimonial,
.card--testimonial & {
  @include media-breakpoint-only(md) {
    &.card {
      flex-direction: row;
    }
    .card-img-top {
      width: 50%;
    }
  }

  .card-body {
    max-height: none !important;
    min-height: auto !important;

    text-align: center;

    .card-text::after {
      margin-left: auto;
      margin-right: auto;
    }

    .subtitle-text {
      display: block;
      line-height: normal;

      @include media-breakpoint-up(lg) {
        display: inline;
      }
    }

    @include media-breakpoint-only(md) {
      width: 50%;

      &.card-body--standard {
        width: 100%;
      }

      &--onlinemedia {
        margin-left: 50%;
        width: 50%;
      }
    }

    @include media-breakpoint-up(md) {
      text-align: left;

      .card-text::after {
        margin-left: unset;
        margin-right: unset;
      }

      &.card-body--standard {
        text-align: center;

        .card-text::after {
          margin-left: auto;
          margin-right: auto;
        }
      }

      &.card-body--standard .subtitle-text {
        display: inline;
      }
    }
  }

  .card-text {
    @include headings-underline(&, false, $parent-nesting: true);

    color: $black;
    font-size: 22px;
    line-height: 28px;

    &::after {
      margin-top: 40px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 30px;
      line-height: 36px;
    }
  }
}
