// PLEASE NOTE!!
//
// These styles will; like Bootstrap, overrides styles you have applied to the
// element. Please take care when applying them as they shouldn't be overridden
// again by a component style for instance.

@import '~bootstrap/scss/utilities/align';
@import '~bootstrap/scss/utilities/background';
@import '~bootstrap/scss/utilities/borders';
@import '~bootstrap/scss/utilities/clearfix';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/embed';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/float';
@import '~bootstrap/scss/utilities/position';
@import '~bootstrap/scss/utilities/screenreaders';
@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/visibility';

// Custom utilities
@import 'utilities/index';
