@import 'common';
@import 'paths';

// Colours

$brand-colours: (
  primary: (
    'charcoal'  : #242323,
    'red'       : #dc2d27,
    'red-50'    : #ed9693,
    'yellow'    : #ffeb14,
    'yellow-50' : #fff589,
  ),

  secondary: (
    'blue'         : #00aeef,
    'blue-50'      : #7fd6f7,
    'green'        : #85c441,
    'green-50'     : #c2e1a0,
    'purple'       : #883681,
    'purple-50'    : #c39ac0,
    'turquoise'    : #00bed8,
    'turquoise-50' : #7dfeeb,
  ),

  greys: (
    'charcoal' : #242323,
    'grey-1'   : #737578,
    'grey-2'   : #a5a5a5,
    'grey-3'   : #d1d1d1,
    'grey-4'   : #e2e2e2,
    'grey-5'   : #f6f6f6,
  ),

  other: (
    'white' : #ffffff,
    'black' : #000000,
  ),
);

$colors: (
  'blue'         : map-deep-get($brand-colours, 'secondary', 'blue'),
  'blue-50'      : map-deep-get($brand-colours, 'secondary', 'blue-50'),
  'charcoal'     : map-deep-get($brand-colours, 'primary', 'charcoal'),
  'green'        : map-deep-get($brand-colours, 'secondary', 'green'),
  'green-50'     : map-deep-get($brand-colours, 'secondary', 'green-50'),
  'grey-1'       : map-deep-get($brand-colours, 'greys', 'grey-1'),
  'grey-2'       : map-deep-get($brand-colours, 'greys', 'grey-2'),
  'grey-3'       : map-deep-get($brand-colours, 'greys', 'grey-3'),
  'grey-4'       : map-deep-get($brand-colours, 'greys', 'grey-4'),
  'grey-5'       : map-deep-get($brand-colours, 'greys', 'grey-5'),
  'purple'       : map-deep-get($brand-colours, 'secondary', 'purple'),
  'purple-50'    : map-deep-get($brand-colours, 'secondary', 'purple-50'),
  'red'          : map-deep-get($brand-colours, 'primary', 'red'),
  'red-50'       : map-deep-get($brand-colours, 'primary', 'red-50'),
  'turquoise'    : map-deep-get($brand-colours, 'secondary', 'turquoise'),
  'turquoise-50' : map-deep-get($brand-colours, 'secondary', 'turquoise-50'),
  'yellow'       : map-deep-get($brand-colours, 'primary', 'yellow'),
  'yellow-50'    : map-deep-get($brand-colours, 'primary', 'yellow-50'),
  'white'        : map-deep-get($brand-colours, 'other', 'white'),
  'black'        : map-deep-get($brand-colours, 'other', 'black'),

);

$theme-colors: $colors;

// Body
$body-bg:                   color('white');

// Links

$link-color:                              color('red');
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 20%);

// Paragraphs

$paragraph-margin-bottom: 16px;

// Spacers used for utility classes

$spacers: (
  0  : 0,
  5  : 5px,
  10 : 10px,
  15 : 15px,
  20 : 20px,
  25 : 25px,
  30 : 30px,
  35 : 35px,
  40 : 40px,
);

$spacing-modifiers: (
  vertical: (
    level-1: (
      xs: 20px,
      md: 30px,
      lg: 40px,
      xl: 50px,
    ),
  ),
);

// Spacing variables

$spacing-2xs: 5px;
$spacing-xs:  10px;
$spacing-sm:  15px;
$spacing-md:  20px;
$spacing-lg:  25px;
$spacing-2xl: 30px;
$spacing-3xl: 35px;
$spacing-4xl: 40px;
$spacing-5xl: 45px;
$spacing-6xl: 50px;
$spacing-7xl: 55px;
$spacing-8xl: 70px;

// Components
//
// Define common padding and border radius sizes and more.

$border-color:                color('grey-4');

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

// Fonts

$font-family-base:            'Open Sans', sans-serif;

$font-size-base:              14px;

$line-height-base:            30px;

$h1-font-size:                60px;
$h2-font-size:                48px;
$h3-font-size:                30px;
$h4-font-size:                22px;
$h5-font-size:                18px;
$h6-font-size:                16px;

$headings-margin-bottom:      $spacing-sm;
$headings-font-weight:        normal;
$headings-line-height:        1;
$headings-color:              inherit;

$lead-font-size:              18px;
$lead-font-weight:            normal;

// Options

$enable-caret:              false;
$enable-rounded:            true;

// Icons

$icon-sizes: (
  smaller : 10px,
  small   : 13px,
  regular : 16px,
  large   : 23px,
);

// Custom typography map for responsive headings and text

$typography: (
  headings: (
    h1: (
      xs: (
        font-size: 40px,
        font-weight: 300,
        line-height: 42px,
        margin-bottom: 30px,
      ),
      lg: (
        font-size: $h1-font-size,
        line-height: 63px,
        margin-bottom: 40px,
      ),
    ),

    h2: (
      xs: (
        font-size: 26px,
        font-weight: 600,
        line-height: 32px,
      ),
      lg: (
        font-size: $h2-font-size,
        font-weight: 400,
        line-height: 48px,
      ),
    ),

    h3: (
      xs: (
        font-size: 22px,
        font-weight: 600,
        line-height: 29px,
      ),
      lg: (
        font-size: $h3-font-size,
        line-height: 36px,
      ),
    ),

    h4: (
      xs: (
        font-size: 18px,
        font-weight: 600,
        line-height: 26px,
      ),
      lg: (
        font-size: $h4-font-size,
        line-height: 30px,
        margin-bottom: 25px,
      ),
    ),

    h5: (
      xs: (
        font-size: 14px,
        font-weight: 600,
        line-height: 24px,
      ),
      lg: (
        font-size: $h5-font-size,
        line-height: 24px,
      ),
    ),

    h6: (
      xs: (
        font-size: 10px,
        font-weight: 600,
        line-height: 18px,
      ),
      lg: (
        font-size: $h6-font-size,
        line-height: 22px,
      ),
    ),
  ),
);

// Grid generic

$aem-prefix:     'aem-Grid';
$aem-prefix-col: 'aem-GridColumn';

$aem-breakpoints: (
  'small'   : 'sm',
  'medium'  : 'md',
  'large'   : 'lg',
  'default' : 'xl',
);

// Grid breakpoints

$grid-breakpoints: $breakpoints;

// Grid containers

$container-max-widths: (
  xs: 1290px,
);

$container-types: (
  text: (
    sm: 100%,
    md: 542px,
    lg: 658px,
    xl: 880px,
  ),
);

// Grid columns

$grid-gutter-width: 30px;

// Navs

$nav-link-padding-y:                0;
$nav-link-padding-x:                0;

$nav-tabs-border-color:             color('grey-4');
$nav-tabs-border-width:             2px;
$nav-tabs-border-radius:            $border-radius;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color;
$nav-tabs-link-active-color:        color('grey-4');
$nav-tabs-link-active-bg:           transparent;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

// Navbar

$navbar-padding-y:                  0;
$navbar-padding-x:                  0;

$navbar-nav-link-padding-x:         0;

$navbar-brand-font-size:            32px;
$navbar-brand-padding-y:            0;

$navbar-toggler-padding-y:          0;
$navbar-toggler-padding-x:          0;

$navbar-light-color:                color('grey-4');
$navbar-light-hover-color:          color('charcoal');
$navbar-light-active-color:         color('charcoal');
$navbar-light-disabled-color:       color('grey-5');
$navbar-light-toggler-icon-bg:      null;
$navbar-light-toggler-border-color: null;

// Breadcrumbs

$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           $grid-gutter-width / 2;

$breadcrumb-margin-bottom:          0;

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          inherit;
$breadcrumb-active-color:           #808285;
$breadcrumb-divider:                null;

$breadcrumb-border-radius:          null;

// Cards

$card-spacer-y:                     16px;
$card-spacer-x:                     25px;
$card-border-width:                 0;
$card-border-radius:                null;
$card-inner-border-radius:          null;
$card-bg:                           transparent;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-line-height:       23px;

// Buttons

$btn-padding-y:               13.5px;
$btn-padding-x:               20px;
$btn-font-size:               12px;
$btn-line-height:             22px;

$btn-padding-y-sm:            12.5px;
$btn-padding-x-sm:            20px;
$btn-font-size-sm:            10px;
$btn-line-height-sm:          14px;

$btn-padding-y-lg:            15.5;
$btn-padding-x-lg:            20px;
$btn-font-size-lg:            14px;
$btn-line-height-lg:          $btn-line-height;

$btn-font-weight:             600;
$btn-box-shadow:              none;
$btn-focus-width:             null;
$btn-focus-box-shadow:        null;
$btn-disabled-opacity:        null;
$btn-active-box-shadow:       null;

$btn-border-radius:           3px;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-sm:        $btn-border-radius;

// Forms

$label-color:                           #808285;
$label-margin-bottom:                   null;

$input-padding-y:                       20px;
$input-padding-x:                       15px;
$input-font-size:                       12px;
$input-font-weight:                     $font-weight-bold;
$input-line-height:                     $input-btn-line-height;

$input-bg:                              color('white');
$input-bg-dark:                         #505050;

$input-color:                           color('charcoal');
$input-border-color:                    color('grey-4');
$input-border-width:                    1px;

$input-border-radius:                   3px;

$input-focus-border-color:              $black;
$input-focus-color:                     $input-color;

$input-height:                          50px;

// Header

$actions-margin:       8px;

$header-height:        89px;
$header-height-sm:     47px;
$header-height-md:     60px;
$header-height-xl:     98px;

$header-level2-height: 50px;

// Logos
// <height>, <min-width>

$logos: (
  primary: (
    sm: 47px 47px,
    md: 60px 119px,
    lg: 89px 176px,
    xl: 98px 192px,
  ),
);
