@charset 'UTF-8';

@import 'setup';

// Bootstrap reset and base typography
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';

// Vendors
// @import 'vendor/index';

// // Core
// @import 'core/index';

// // Bootstrap components
// @import '~bootstrap/scss/button-group';
// @import '~bootstrap/scss/buttons';
// @import '~bootstrap/scss/breadcrumb';
// @import '~bootstrap/scss/card';
// @import '~bootstrap/scss/dropdown';
// @import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/images';
// @import '~bootstrap/scss/modal';
// @import '~bootstrap/scss/nav';
// @import '~bootstrap/scss/navbar';
// @import '~bootstrap/scss/transitions';

// // Layout
// @import 'layout/index';

// // Bootstrap overrides
// @import 'override/index';

// // Global utility classes
// @import 'utilities';

// // Components
// @import 'components/index';

// // AEM specific changes
// @import 'aem/index';

// Themes
// TODO: ...
// @import 'themes/index';
