// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

div[class*='colctrl']:not([class*='col-']) {
  @include make-container;
  @include make-container-max-widths;

  .#{$aem-prefix} > & {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-down(sm) {
    .col-sm-12:not(:last-child) {
      padding-bottom: 30px;
    }
  }
}
