// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

// stylelint-disable-next-line
#CQ {
  // stylelint-disable-next-line
  .x-window *,
  .x-window *::before,
  .x-window *::after {
    box-sizing: content-box;
  }
}

.aem-Grid > .cq-Editable-dom:not(.new) {
  // stylelint-disable-next-line
  display: block !important;
}
