$btn-font-size:               $font-size-base;
$btn-line-height:             $line-height-base;

$btn-font-size-sm:            $font-size-sm;
$btn-line-height-sm:          $line-height-sm;

$btn-font-size-lg:            $font-size-lg;
$btn-line-height-lg:          $line-height-lg;

$btn-font-weight:             $font-weight-normal;
$btn-active-box-shadow:       null;

$btn-border-radius:           $border-radius;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-sm:        $btn-border-radius;

$btn-icon-size:               icon-size('regular');
$btn-icon-spacing-x:          10px;
