@import 'common';
@import 'paths';

// Colours
/// @type Map

$brand-colours: (
  primary: (),

  secondary: (),

  greys: (
    'grey-1': lighten($black, 90%),
    'grey-2': lighten($black, 80%),
    'grey-3': lighten($black, 70%),
    'grey-4': lighten($black, 60%),
    'grey-5': lighten($black, 50%),
    'grey-6': lighten($black, 40%),
    'grey-7': lighten($black, 30%),
    'grey-8': lighten($black, 20%),
    'grey-9': lighten($black, 10%),
  ),

  standard: (
    'black' : $black,
    'white' : $white,
  ),
);

$colors: (
  'white': map-deep-get($brand-colours, 'standard', 'white'),
  'black': map-deep-get($brand-colours, 'standard', 'black'),

  // Greys
  'grey-1': map-deep-get($brand-colours, 'greys', 'grey-1'),
  'grey-2': map-deep-get($brand-colours, 'greys', 'grey-2'),
  'grey-3': map-deep-get($brand-colours, 'greys', 'grey-3'),
  'grey-4': map-deep-get($brand-colours, 'greys', 'grey-4'),
  'grey-5': map-deep-get($brand-colours, 'greys', 'grey-5'),
  'grey-6': map-deep-get($brand-colours, 'greys', 'grey-6'),
  'grey-7': map-deep-get($brand-colours, 'greys', 'grey-7'),
  'grey-8': map-deep-get($brand-colours, 'greys', 'grey-8'),
  'grey-9': map-deep-get($brand-colours, 'greys', 'grey-9'),
);

$theme-colors: $colors;

// Body

$body-bg:                    $body-bg;

// Components
//
// Define common padding and border radius sizes and more.

// ...

// Fonts

$font-size-base:              16px;
$font-size-sm:                12px;

$font-weight-base:            $font-weight-light;

$line-height-base:            24px;
$line-height-sm:              18px;

$h1-font-size:                60px;
$h2-font-size:                48px;
$h3-font-size:                30px;
$h4-font-size:                22px;
$h5-font-size:                18px;
$h6-font-size:                16px;

$headings-margin-bottom:      $grid-gutter-width / 2;
$headings-font-family:        'Noto Sans', $font-family-base;
$headings-font-weight:        normal;
$headings-line-height:        1.4;
$headings-color:              inherit;

$lead-font-size:              18px;
$lead-font-weight:            normal;

// Options

$enable-caret:              false;
$enable-rounded:            true;

// Icons
/// @type Map

$icon-sizes: (
  smaller : 10px,
  small   : 13px,
  regular : 16px,
  large   : 23px,
);

// Custom typography map for responsive headings and text

@import 'typography';

// Grid generic

$aem-prefix:     'aem-Grid';
$aem-prefix-col: 'aem-GridColumn';

$aem-breakpoints: (
  'small'   : 'sm',
  'medium'  : 'md',
  'large'   : 'lg',
  'default' : 'xl',
);

// Grid breakpoints

$grid-breakpoints: $breakpoints;

// Grid containers

$container-max-widths: (
  xs: 1290px,
);

// Custom container variants
//
// ( <name>: ( <breakpoint>: <max width>px )

$container-types: (
  small: (
    xs: map-get($breakpoints, md),
  ),
);

// Spacing

@import 'spacing';

// Breadcrumbs

@import 'breadcrumbs';
