@import 'common';
@import 'paths';

// Colours
/// @type Map

@import 'colours';

$theme-colors: $colors;

// Body

$body-bg:                    $body-bg;

// Links
//
// Style anchor elements.

$link-color:                              color('blue');
$link-hover-color:                        darken($link-color, 15%);

// Components
//
// Define common padding and border radius sizes and more.

// ...

// Fonts

$font-size-base:              16px;
$font-size-sm:                12px;

$line-height-base:            24px;
$line-height-sm:              18px;
$line-height-lg:              $line-height-base + 4px;

$h1-font-size:                60px;
$h2-font-size:                50px;
$h3-font-size:                38px;
$h4-font-size:                28px;
$h5-font-size:                22px;
$h6-font-size:                18px;

$headings-margin-bottom:      $grid-gutter-width / 2;
$headings-font-family:        'Noto Sans', $font-family-base;
$headings-font-weight:        $font-weight-bolder;
$headings-color:              inherit;

$lead-font-size:              $font-size-base + 4px;
$lead-font-weight:            $font-weight-normal;

// Options

$enable-caret:              false;
$enable-rounded:            true;

// Grid generic

$aem-prefix:     'aem-Grid';
$aem-prefix-col: 'aem-GridColumn';

// Grid breakpoints

$grid-breakpoints: $breakpoints;

// Grid containers

$container-max-widths: (
  xs: 1400px,
);

// Custom container variants

$container-types: (
  small: (
    sm: 100%,
    md: 548px,
    lg: 720px,
    xl: 940px,
  ),
);

// Icons

@import 'icons';

// Custom typography map for responsive headings and text

@import 'typography';

// Spacing

@import 'spacing';

// Breadcrumbs

@import 'breadcrumbs';

// Navs

@import 'nav';

// Navbar

@import 'navbar';
