@import 'common';
@import 'paths';

// Colours
/// @type Map

@import 'colours';

$theme-colors: $colors;

// Body

$body-bg:                    $body-bg;

// Components
//
// Define common padding and border radius sizes and more.

// ...

// Fonts

$font-size-base:              16px;
$font-size-sm:                12px;

$font-weight-base:            $font-weight-light;

$line-height-base:            24px;
$line-height-sm:              18px;

$h1-font-size:                60px;
$h2-font-size:                48px;
$h3-font-size:                30px;
$h4-font-size:                22px;
$h5-font-size:                18px;
$h6-font-size:                16px;

$headings-margin-bottom:      $grid-gutter-width / 2;
$headings-font-family:        'Noto Sans', $font-family-base;
$headings-font-weight:        normal;
$headings-line-height:        1.4;
$headings-color:              inherit;

$lead-font-size:              18px;
$lead-font-weight:            normal;

// Options

$enable-caret:              false;
$enable-rounded:            true;

// Icons
/// @type Map

$icon-sizes: (
  smaller : 10px,
  small   : 13px,
  regular : 16px,
  large   : 23px,
);

// Custom typography map for responsive headings and text

@import 'typography';

// Grid generic

$aem-prefix:     'aem-Grid';
$aem-prefix-col: 'aem-GridColumn';

$aem-breakpoints: (
  'small'   : 'sm',
  'medium'  : 'md',
  'large'   : 'lg',
  'default' : 'xl',
);

// Grid breakpoints

$grid-breakpoints: $breakpoints;

// Grid containers

$container-max-widths: (
  xs: 1290px,
);

// Custom container variants
//
// ( <name>: ( <breakpoint>: <max width>px )

$container-types: (
  small: (
    xs: map-get($breakpoints, md),
  ),
);

// Spacing

@import 'spacing';

// Breadcrumbs

@import 'breadcrumbs';
