// TODO: Add more information about how to use this...
/// @type Map

$typography: (
  headings: (
    h1: (
      xs: (
        font-size: 40px,
        margin-bottom: $grid-gutter-width,
      ),
      lg: (
        font-size: $h1-font-size,
      ),
    ),

    h2: (
      xs: (
        font-size: 26px,
      ),
      lg: (
        font-size: $h2-font-size,
      ),
    ),

    h3: (
      xs: (
        font-size: 22px,
      ),
      lg: (
        font-size: $h3-font-size,
      ),
    ),

    h4: (
      xs: (
        font-size: 18px,
        font-weight: $font-weight-normal,
      ),
      lg: (
        font-size: $h4-font-size,
        margin-bottom: 25px,
      ),
    ),

    h5: (
      xs: (
        font-size: 14px,
        font-weight: $font-weight-normal,
      ),
      lg: (
        font-size: $h5-font-size,
      ),
    ),

    h6: (
      xs: (
        font-size: 10px,
        font-weight: $font-weight-normal,
      ),
      lg: (
        font-size: $h6-font-size,
        margin-bottom: $line-height-base / 2,
      ),
    ),
  ),

  text: (),
);
