// PLEASE NOTE!!
//
// This overrides only styles that aren't configurable by Bootstrap, please take
// care when making changes as we shouldn't be duplicating styles that Bootstrap
// generates for us automatically.

.nav-tabs {
  border-bottom-width: 0;
  justify-content: center;
  margin-bottom: map-get($spacers, 30);

  .nav-item {
    min-width: 184px;
    text-align: center;
  }

  .nav-link {
    border-color: $nav-tabs-link-hover-border-color;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: $nav-tabs-link-active-color;
    font-size: 18px;
    padding-bottom: 5px;
    position: relative;

    &::after {
      background-color: $nav-tabs-border-color;
      bottom: 0;
      content: '';
      height: 3px;
      left: 0;
      opacity: 0;
      position: absolute;
      width: 100%;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    font-weight: 600;

    &::after {
      opacity: 1;
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: map-get($spacers, 75);
  }
}
