.social-share {
  position: relative;

  &__icon,
  &__close,
  &__popover .icon {
    display: block;
    font-size: icon-size(small);
    max-width: icon-size(small);
    min-height: icon-size(small);
    min-width: icon-size(small);
  }

  &__icon,
  &__label,
  &__close,
  &__copy {
    cursor: pointer;
  }

  &__icon {
    display: initial;
  }

  &__label {
    font-size: 14px;
    margin-left: 10px;
  }

  &__popover {
    background-color: color('white');
    filter: drop-shadow(0 2px 3px color('grey-3'));
    margin-top: 14px;
    max-width: 274px;
    min-width: 250px;
    padding: 20px;
    width: 100%;
    z-index: 1;

    .icon,
    a {
      color: color('charcoal');
      display: initial;
    }

    &.arrow-left::before {
      left: 6px + 10px;
    }

    &.arrow-right::before {
      left: auto;
      right: 6px - 10px;
    }

    &.arrow-bottom::before {
      bottom: 0;
      top: auto;
    }

    ul {
      margin-top: 14px;
    }

    li {
      line-height: 30px;
      padding-left: 0;

      a {
        margin-left: 10px;
      }

      &::before {
        content: none;
      }
    }

    &::before {
      border: 10px solid color('white');
      border-color: transparent transparent inherit inherit;
      content: '';
      height: 0;
      position: absolute;
      top: -5px;
      transform: rotate(45deg);
      transform-origin: 0 0;
      width: 0;
    }
  }

  &__copy {
    font-size: 12px;
  }
}
