// Buttons

&-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;

  li {
    border: 1px solid color('grey-2');
    border-radius: 3px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    &::after {
      content: none;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
