// PLEASE NOTE!!
//
// Some selectors here have been copied directly from Bootstrap to reduce the output
// size of our CSS. For the most part we use what Bootstrap offers so we aren't
// re-inventing the wheel.

.form-control,
.guideFieldWidget [id$='widget'] {
  @include border-radius($input-border-radius, 0);
  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  background-clip: padding-box;
  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
  color: $input-color;
  display: block;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  height: $input-height;
  line-height: $input-line-height;
  padding: $input-padding-y $input-padding-x 7px;
  width: 100%;

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus,
  &.focused {
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    color: $input-focus-color;
    outline: 0;
  }

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  .bg-charcoal & {
    background-color: $input-bg-dark;
    border-color: $input-bg-dark;

    &:focus,
    &.focused {
      border-color: #808285;
    }
  }
}

select.form-control,
.guideFieldWidget select {
  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    background-color: $input-bg;
    color: $input-color;
  }
}

// stylelint-disable-next-line no-duplicate-selectors
select.form-control,
.guideFieldWidget select {
  &[size],
  &[multiple] {
    height: auto;
  }
}

textarea.form-control,
.guideFieldWidget textarea {
  height: auto;
}

// Clears the 'X' from Internet Explorer
input[type='search']::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

input[type='search']::-ms-reveal {
  display: none;
  height: 0;
  width: 0;
}

// Clears the 'X' from Chrome
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  position: relative;

  &:not(:last-child):not(:last-of-type) {
    margin-bottom: $form-group-margin-bottom;
  }
}

.form-text {
  display: block;
  margin-top: $form-text-margin-top;
}

// Labels

label {
  color: $label-color;
  cursor: pointer;
  font-size: $input-font-size - 2px;
  font-weight: $input-font-weight;
  left: $input-padding-x;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: top left;
  transition: transform 150ms ease-in-out;
  user-select: none;
  z-index: 2;

  &.no-transition {
    transition: none;
  }

  &.show {
    opacity: 1;
  }

  &.active {
    font-weight: 600;
    transform: translateY(-100%) translateY(5px) scale(.7);

    @include media-breakpoint-up(lg) {
      transform: translateY(-100%) translateY(10px) scale(.7);
    }
  }

  @include media-breakpoint-up(md) {
    font-size: $input-font-size;
  }
}

.invalid-feedback {
  color: color('red');
  width: 100%;
}

.was-validated {
  .focused {
    &:invalid,
    .invalid {
      border-color: color('red');
    }
  }
}

// Bootstrap partials
@import '~bootstrap/scss/input-group';

// Custom input-group
@import 'forms/input-group';

// Custom drop-down
@import 'forms/drop-down';
