h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
  font-feature-settings: 'lnum' 1;
  font-variant-numeric: lining-nums;
  hyphens: none;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }
}

// Generates the responsive typography styles for each breakpoint defined in the `_variables.scss`
// configuration file.

@each $type, $levels in $typography {
  @each $level, $config in $levels {
    @include typography-style($level, $config);
  }
}

// Paragraphs

p {
  hyphens: none;

  // This selector removes the bottom margin from all paragraph tags on the page that are
  // the last of their type in the parent container and are the last child overall. If this
  // this condition isn't met, the paragraph will retain the existing margin.
  &:last-of-type:last-child {
    margin-bottom: 0;
  }
}

// Bold text

b,
strong,
.strong {
  font-weight: 700;
}

// Small text

small,
.small {
  font-size: 10px;
  line-height: 23px;

  @include media-breakpoint-up(lg) {
    font-size: 12px;
  }
}
