&--logo img {
  display: block;
  height: logo-size(primary, sm, height);
  min-width: logo-size(primary, sm, width);

  @include media-breakpoint-up(md) {
    height: logo-size(primary, md, height);
    min-width: logo-size(primary, md, width);
  }

  @include media-breakpoint-up(lg) {
    height: logo-size(primary, lg, height);
    min-width: logo-size(primary, lg, width);
  }

  @include media-breakpoint-up(xl) {
    height: logo-size(primary, xl, height);
    min-width: logo-size(primary, xl, width);
  }
}
