// stylelint-disable selector-max-compound-selectors
%component-list {
  @include make-container(0);
  @include make-container-max-widths;
  // iPhone X support
  @include iphone-x;

  > .content {
    > ul,
    .owl-carousel:not(.owl-loaded) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      @include media-breakpoint-up(md) {
        margin-left: -($list-item-md-margin / 2);
        width: calc(100% + #{$list-item-md-margin});
      }

      @include media-breakpoint-up(lg) {
        margin-left: -($list-item-lg-margin / 2);
        width: calc(100% + #{$list-item-lg-margin});
      }
    }

    > ul > li,
    .owl-carousel > .item {
      flex: 0 1 100%;
      position: relative;
      width: 100%;
    }

    > ul {
      margin-bottom: -$list-item-margin;

      > li {
        margin-bottom: $list-item-margin;
        padding-left: 0;

        // stylelint-disable-next-line
        &::before {
          display: none;
        }

        @include media-breakpoint-up(md) {
          margin-bottom: $list-item-md-margin;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: $list-item-lg-margin;
        }
      }

      @include media-breakpoint-up(md) {
        margin-bottom: -$list-item-md-margin;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: -$list-item-lg-margin;
      }
    }

    // When the carousel container has been build, hide the original list
    .owl-carousel:not(.mobile-carousel) + ul {
      display: none;
    }
  }

  // Hide the default AEM pagination
  .pagination {
    display: none;
  }

  // Create the default page list child variant sizes
  @include pagelist-variant {
    flex: 0 1 100%;

    @include media-breakpoint-up(md) {
      flex-basis: percentage(4 / $grid-columns);
      max-width: percentage(4 / $grid-columns);
      padding-left: $list-item-md-margin / 2;
      padding-right: $list-item-md-margin / 2;
    }

    @include media-breakpoint-up(lg) {
      padding-left: $list-item-lg-margin / 2;
      padding-right: $list-item-lg-margin / 2;
    }
  }

  @include media-breakpoint-only(md) {
    &:not(.theme--lists-fill):not([data-modules='carousel']):not(.theme--page-list-social-links):not(.theme--lists-horizontal) > .content > ul > li {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}
