&-float-horizontal {
  @include not-aem-author() {
    &.parsys {
      display: flex;
      flex-direction: column;
      > [component] {
        width: 100%;
        margin: 0 0 #{$grid-gutter-width / 2} 0;
      }
      @media (orientation: landscape) {
        flex-direction: row;
        flex-wrap: wrap;
        > [component] {
          width: auto;
          &:not(:only-child):not(:last-child) {
            margin: 0 $grid-gutter-width #{$grid-gutter-width / 2} 0;
          }
        }
      }
    }
  }
}
