&-narrow,
&-tall {
  background-color: color('charcoal');
  position: relative;
  z-index: 1;

  > .container {
    background-color: color('charcoal');
    padding: 25px 0;
    position: relative;

    // stylelint-disable-next-line
    header,
    header + .responsivegrid {
      padding-left: 25px;
      padding-right: 25px;
    }

    .title,
    .description {
      color: color('white');
    }

    .title::after {
      background-color: color('yellow');
    }

    @include media-breakpoint-up(lg) {
      background-color: transparent;
      width: calc(100% - #{$grid-gutter-width});

      &::before {
        background-color: rgba(color('charcoal'), .9);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    background-color: transparent;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 30px;
  }
}
