&-narrow {
  > .container {
    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
      padding-top: 40px;

      // stylelint-disable-next-line
      header,
      header + .responsivegrid {
        padding-left: 50px;
        padding-right: 50px;
      }
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 50px;
      padding-top: 50px;

      &::before {
        width: 790px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 200px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 100px;
  }
}
