@import 'mixins/headings';


// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_')
  );

  $formats: (
    otf: 'opentype',
    ttf: 'truetype'
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

/// Generates the code required for the 'object-fit-images' polyfill
/// @see https://github.com/bfred-it/object-fit-images
/// @param {String} $fit - How should the image scale to its parent?
/// @param {String} $position - The offset for the image
@mixin object-fit($fit: fill, $position: null) {
  object-fit: $fit;

  @if $position {
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
    object-position: $position;
  }
  @else {
    font-family: 'object-fit: #{$fit}';
  }
}

///
@mixin typography-level($for, $key) {
  $config: map-deep-get($typography, $for, $key);
  @include typography-style($key, $config, true);
}

///
@mixin typography-style($level, $config, $styles-only: false) {
  $selector: $level;

  // Determine if this style needs a base selector in addition to a class
  $no-tag: map-has-key($config, no-tag) and map-get($config, no-tag) == true;
  $no-default: not map-has-key($config, default-selector);

  // Change the `$selector` so it reflects the default if one is set
  @if not $no-default {
    $selector: unquote(map-get($config, default-selector));
  }

  // Should the selector be extended?
  @if map-has-key($config, extend-to) {
    $selector: unquote('#{$selector}, #{map-get($config, extend-to)}');
  }

  // Loop through each breakpoint and set the styles
  @each $breakpoint, $size in $grid-breakpoints {
    @if map-has-key($config, $breakpoint) {
      $break-config: map-get($config, $breakpoint);

      @if map-has-key($break-config, only) and map-get($break-config, only) == true {
        @include media-breakpoint-only($breakpoint) {
          @include typography-bp($selector, $level, $no-tag, $no-default, $break-config, $styles-only);
        }
      }
      @else {
        @include media-breakpoint-up($breakpoint) {
          @include typography-bp($selector, $level, $no-tag, $no-default, $break-config, $styles-only);
        }
      }
    }
  }
}

@mixin typography-bp(
  $selector,
  $level,
  $no-tag,
  $no-default,
  $break-config,
  $styles-only: false
) {
  @if $styles-only == true {
    @include typography-styles($break-config);
  }
  @else if $no-tag and $no-default {
    .#{$level} {
      @include typography-styles($break-config);
    }
  }
  @else {
    #{$selector},
    .#{$level} {
      @include typography-styles($break-config);
    }
  }
}

///
@mixin typography-styles($config) {
  @each $key, $value in $config {
    @if $key != 'only' {
      #{$key}: #{$value};
    }
  }
}

///
@mixin iphone-x($gutter: $grid-gutter-width / 2) {
  @supports (padding: #{'max(0px)'}) {
    @include iphone-x-prop('padding-left', $gutter);
    @include iphone-x-prop('padding-right', $gutter);
  }
}

@mixin iphone-x-prop($prop, $gutter) {
  #{unquote($prop)}: #{'max(#{$gutter}, var(safe-area-inset-left))'};
  #{unquote($prop)}: #{'max(#{$gutter}, env(safe-area-inset-left))'};
}

///
@mixin container-flush($pseudo: ':not(:last-child)') {
  [class*='col']#{unquote($pseudo)} > div {
    @content;
  }
}

///
@mixin aspect-ratio(
  $width: 16,
  $height: 9,
  $selector: '.content',
  $needs-position: true
) {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: aspect-ratio($width, $height);
    width: 100%;
  }

  @if $needs-position == true {
    > #{unquote($selector)} {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

///
@mixin not-aem-author() {
  html:not(.aem-AuthorLayer-Edit):not(.aem-AuthorLayer-Preview) & {
    @content;
  }
}

@mixin aem-author-edit() {
  html.aem-AuthorLayer-Edit {
    @content;
  }
}

// Truncate text element with ellipsis
@mixin truncate() {
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;

  > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/// Page List variant generator
@mixin pagelist-variant($selector: false) {
  $selector: if($selector != false, unquote($selector + ' '), '');
  $selector: $selector + '> .content > ul > li';

  #{unquote($selector)} {
    @content;
  }
}

@mixin foil($color) {
  background-image: url(../resources/images/patterns/foil-#{$color}.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 13px 140px;
}

/// Custom grid gutter
@mixin grid-gutter($gutter) {
  .row {
    margin-left: -#{$gutter}px;
    margin-right: -#{$gutter}px;

    > [class*='col-'] {
      padding-left: #{$gutter}px;
      padding-right: #{$gutter}px;
    }
  }
}

///
@mixin yellow-link {
  margin-left: -$spacing-md;
  padding-left: $spacing-md;
  position: relative;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  width: calc(100% + 20px);

  &::before {
    background-color: color('grey-2');
    bottom: 0;
    content: ' ';
    display: block;
    height: 1px;
    left: inherit;
    position: absolute;
    right: 0;
    transform: none;
    width: calc(100% - 20px);
    z-index: 1;
  }

  &:focus,
  &:active {
    background-color: color('yellow');
    color: color('charcoal');
    z-index: 1;
  }

  &,
  &:focus,
  &:active,
  &[aria-expanded='true'],
  &:hover {
    border-bottom-width: 0;
    box-shadow: none;
    padding-top: 0;
  }
}
