testinfra
molecule
docker
molecule-docker
yamllint
flake8
ansible
autopep8
requests>=2.23.0
wheel

paramiko
pycrypto
PyYAML
Jinja2
httplib2
boto
xmltodict
six
packaging
appdirs
setuptools
cryptography
beautifulsoup4
pycurl
pyaem2
