.search-results__item {
  background-color: color('grey-5');
  border-left: 1px solid color('red');
  color: color('charcoal');
  display: block;
  padding: 10px 20px;

  & + & {
    margin-top: 10px;
  }

  @include hover-focus {
    background-color: color('charcoal');
    border-color: color('charcoal');
    color: color('white');
    text-decoration: none;
  }

  .search-results__item-title {
    margin-bottom: 0;
  }

  .search-results__item-icon {
    color: color('red');
  }

  @include media-breakpoint-up(md) {
    display: flex;

    // always present as it creates gutter on desktop
    .search-results__item-icon {
      font-size: icon-size(regular);
      margin-right: 10px;
      min-width: icon-size(regular);
    }
  }
}
