/**
 * Bootstrap buttons
 */

@import '~bootstrap/scss/buttons';

/**
* Overrides
*/

// Colour variants
//
// Pattern:
// <variant name>: (
//   <base colour>,
//   <text colour>,
//   <hover colour>,
//   <shadow colour (on hover)>,
//   <border colour (optional)>,
//   <border colour (on hover, optional)>
// )

$button-colours: ();

.btn {
  align-items: center;
  display: inline-flex;
  position: relative;

  @each $variant, $options in $button-colours {
    $base-colour: nth($options, 1);
    $border-colour: nth($options, 5);
    $border-hover-colour: nth($options, 6);
    $hover-colour: nth($options, 3);
    $shadow-colour: nth($options, 4);
    $text-colour: nth($options, 2);

    &-#{$variant} {
      // If no border colour is given we use the base colour to avoid hover state issues
      $border-colour: if($border-colour != null, $border-colour, $base-colour);

      background-color: $base-colour;
      border-color: $border-colour;
      color: $text-colour;

      &:not(:active) {
        $border-hover-colour: if($border-hover-colour != null, $border-hover-colour, $hover-colour);

        @include hover {
          background-color: $hover-colour;
          border-color: if($border-hover-colour != null, $border-hover-colour, $hover-colour);
          color: $text-colour;
        }
      }

      &:active {
        color: $text-colour;
      }
    }
  }

  > span,
  > .svg-inline--fa {
    transition: transform .15s ease-in-out;
  }

  > .svg-inline--fa {
    font-size: icon-size('regular') - 2px;
    margin-left: auto;

    @include media-breakpoint-up(md) {
      font-size: icon-size('regular');
    }

    @include media-breakpoint-up(lg) {
      font-size: icon-size('regular') + 2px;
    }
  }

  &:not(.btn-link) {
    > span {
      margin-right: $gutter-gutter-width / 2;
    }
  }

  @include hover {
    &:not(.btn-link):not(:active) {
      > span,
      > .svg-inline--fa {
        transform: translateY(-2px);
      }
    }
  }

  // Override the link button styles
  &-link {
    color: $link-color;
    padding: 0;

    > .svg-inline--fa {
      margin-left: $gutter-gutter-width;
    }

    &:focus,
    &.focus {
      text-decoration: none;
    }
  }

  &:focus,
  &.focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
}
