// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

[component].contentblockmenu {
  @include make-container;

  background-color: color('white');
  border-bottom: 1px solid color('grey-4');
  border-top: 1px solid color('grey-4');
  padding-bottom: $spacing-sm;
  padding-top: $spacing-sm;

  ul {
    @include list-unstyled;

    margin-bottom: 0;
  }

  li {
    line-height: 20px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
  }

  a {
    align-items: flex-end;
    color: color('purple');
    display: inline-flex;
    text-decoration: none;

    &::after {
      // @include pseudo-icon('arrow-right', 15px, $needs-margin: false);

      margin-left: 10px;
    }

    &:hover {
      color: color('red');
    }
  }

  @include media-breakpoint-up(md) {
    padding-bottom: map-get($spacers, 30);
    padding-top: map-get($spacers, 30);

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li:not(:first-child) {
      margin-left: map-get($spacers, 30);
    }
  }
}
