.link {
  > span {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .icon:not(.svg-inline--fa) {
    width: icon-size(regular);

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }

  &:not(.btn) {
    align-items: center;
    display: inline-flex;
    font-weight: 600;

    // Icon
    .svg-inline--fa {
      font-size: icon-size(regular);

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        margin-left: 10px;
      }
    }

    @include hover {
      text-decoration: none;
    }
  }
}
