[component].onlinemedia-container {
  box-shadow: 0 2px 3px color('grey-4');
  margin: 20px 10px;
  overflow: hidden;

  .onlinemedia-title {
    margin-bottom: 0;
    padding: 20px;
  }
}
[component].onlinemedia-info-container,
[component].onlinemedia-close-button {
  opacity: 1;
  transition: opacity 500ms, z-index 500ms;
}

[component].onlinemedia-info-container {
  height: 100%;
  left: 0;
  margin-bottom: -56.25%;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;

  &.hidden {
    opacity: 0;
    z-index: 0;
  }

  .onlinemedia-play-button {
    height: 40px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40px;
  }

  .play-video.btn {
    border-width: 0;
    font-size: 22px;
    height: 100%;
    justify-content: center;
    min-width: 0;
    padding: 0;
    width: 100%;

    // stylelint-disable-next-line
    svg {
      margin-left: 0;
    }
  }
}

[component].onlinemedia--card {
  &,
  .onlinemedia-info-container {
    margin: 0;
  }

  .onlinemedia-player-container {
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    > iframe {
      height: 100%;
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    position: relative;
  }

  @include media-breakpoint-up(md) {
    .onlinemedia-info-container {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 50%;
    }

    .onlinemedia-image,
    .onlinemedia-image img {
      height: 100%;
      width: 100%;
    }

    .onlinemedia-image img {
      @include object-fit(cover, left center);
    }
  }

  &.onlinemedia--playing {
    .onlinemedia-player-container {
      opacity: 1;
      pointer-events: all;
    }

    .onlinemedia-info-container {
      width: 100%;
      z-index: 1;
    }
  }

  @include media-breakpoint-up(lg) {
    max-height: 435px;
    min-height: 435px;
    min-width: 50%;
    width: 50%;
  }

  @include media-breakpoint-up(xl) {
    max-height: 500px;
    min-height: 500px;
  }
}

[component].onlinemedia-close-button {
  bottom: 50px;
  position: absolute;
  right: 3px;
  text-align: right;
  z-index: 2;

  .close-video {
    @include media-breakpoint-down(sm) {
      min-width: 0;
      padding: 10px 15px;

      .close-video-label {
        @include sr-only;
      }
    }
  }

  .close-video.hidden {
    opacity: 0;
    z-index: 0;
  }
}

@include media-breakpoint-up(md) {
  [component].onlinemedia-container {
    box-shadow: none;
    margin: 0;
    padding-bottom: 0;

    .onlinemedia-title {
      bottom: 80px;
      color: color('white');
      display: block;
      font-size: $h5-font-size;
      height: 0;
      left: 105px;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 2;

      &.hidden {
        display: none;
      }
    }
  }

  [component].onlinemedia {
    margin-bottom: unset;
  }

  [component].onlinemedia-info-container {
    height: 0;
    margin-bottom: 0;

    .onlinemedia-play-button {
      bottom: 80px;
      display: block;
      height: 50px;
      left: 30px;
      position: relative;
      top: auto;
      transform: none;
      width: 50px;
      z-index: 2;
    }
  }

  [component].onlinemedia-close-button {
    bottom: 50px;
    right: 20px;
    z-index: 2;

    .close-video .close-video-label {
      display: inline;
    }
  }
}

@include media-breakpoint-up(lg) {
  // stylelint-disable-next-line
  [component].onlinemedia-info-container .play-video.btn svg {
    font-size: 24px;
  }

  [component].onlinemedia-container .onlinemedia-title {
    bottom: 85px;
    font-size: $h4-font-size;
    left: 115px;
  }
}
