// PLEASE NOTE!!
//
// These styles directly affect AEM components, they should not introduce any new
// behaviour that can be handled already by Bootstrap helper classes such as spacing
// and other component level changes.

[component].page-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  z-index: 1;

  header {
    > {
      @extend %headings-underlined;

      :only-child {
        margin-bottom: 0;
      }
    }

    &,
    + .responsivegrid {
      width: 100%;
    }

    // Space the additional parsys away from the sibling element
    + .responsivegrid > .#{$aem-prefix}:not(.no-content) {
      padding-top: 30px;
    }

    @include media-breakpoint-up(lg) {
      &,
      + .responsivegrid {
        max-width: 790px;
      }
    }

    .subtitle {
      display: block;
      margin-top: 20px;

      @include media-breakpoint-up(lg) {
        margin-top: 30px;
      }
      &.h1 {
        margin-top: 30px;

        @include media-breakpoint-up(lg) {
          margin-top: 40px;
        }
      }
      &.h4 {
        @include media-breakpoint-up(lg) {
          margin-top: 25px;
        }
      }
    }
  }

  &__hero,
  // `.lazysizes-display-clone` is used for cases when the browser doesn't support 'object-fit'
  .lazysizes-display-clone {
    width: 100%;

    @include media-breakpoint-up(md) {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  &__hero {
    width: 100%;

    img {
      @include object-fit(cover, right center);

      height: 100%;
      width: 100%;
    }
  }

  &.bg-charcoal-pattern,
  &.bg-red-pattern,
  &.bg-yellow-pattern {
    header {
      .title::after {
        background-color: currentColor;
      }

      > * {
        color: color('white');
      }
    }
  }

  &.bg-yellow-pattern header > * {
    color: color('charcoal');
  }

  &.bg-charcoal-pattern header > .title::after {
    background-color: color('yellow');
  }

  // IE11 fix to ensure flexbox and min-height work together
  .ie-11 &::after {
    content: '';
    display: inline-block;
    font-size: 0;
    min-height: inherit;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    min-height: 200px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 280px;

    .ie-11 & {
      min-height: 240px;
    }
  }
}
