.c-page-details {
  @include generate-spacing-area('banner', true, 'vertical');

  align-items: center;
  background-color: map-get($colors, 'grey-1');
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  &__callout {
    // Make sure the header and the AEM `.responsivegrid` container span the full width
    &,
    + .responsivegrid {
      width: 100%;
    }

    > :only-child {
      margin-bottom: 0;
    }
  }

  &__parsys {
    padding-top: 30px;
  }

  &__title {
    margin-bottom: math.div($headings-margin-bottom, 1.5);
  }

  &__description {
    max-width: 700px;
  }

  &__breadcrumb {
    margin-bottom: 10px;
  }
}
