// [1] Fix for IE 11 which doesn't correctly set the icon size based on width alone

%link-base {
  &:any-link {
    color: $link-color;
  }

  > span {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .icon:not(.svg-inline--fa),
  &:not(.btn) .svg-inline--fa {
    min-width: $btn-icon-size;
    transition: transform $link-transition-length ease-in-out;
    width: $btn-icon-size;

    &:first-child {
      margin-right: $btn-icon-spacing-x;
    }

    &:last-child {
      margin-left: $btn-icon-spacing-x;
    }
  }

  &:not(.btn) {
    align-items: center;
    display: inline-flex;

    @include hover {
      text-decoration: $link-hover-decoration;

      .svg-inline--fa {
        transform: translateX($btn-icon-spacing-x / 2);
      }
    }
  }
}

%link-button {
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
}
