// stylelint-disable selector-max-compound-selectors
%components-list {
  @include fix-nested-component;
  @include make-container;
  @include make-container-max-widths;
  @include notch-awesome;

  > .content {
    .list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -$list-item-margin;
      padding-left: 0;
      width: 100%;

      > li {
        flex: 0 1 100%;
        margin-bottom: $list-item-margin;
        position: relative;
        width: 100%;

        @include media-breakpoint-up(md) {
          margin-bottom: $list-item-md-margin;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: $list-item-lg-margin;
        }
      }

      @include media-breakpoint-up(md) {
        margin-bottom: -$list-item-md-margin;
        margin-left: -($list-item-md-margin / 2);
        width: calc(100% + #{$list-item-md-margin});
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: -$list-item-lg-margin;
        margin-left: -($list-item-lg-margin / 2);
        width: calc(100% + #{$list-item-lg-margin});
      }
    }
  }

  // Handle image only variants
  .list a:not(.card-link) {
    display: block;

    > img {
      width: 100%;
    }
  }

  // Hide the default AEM pagination
  .pagination {
    display: none;
  }

  // Create the default page list child variant sizes
  @include list-variant {
    flex: 0 1 100%;

    @include media-breakpoint-up(md) {
      flex-basis: percentage(4 / $grid-columns);
      max-width: percentage(4 / $grid-columns);
      padding-left: $list-item-md-margin / 2;
      padding-right: $list-item-md-margin / 2;
    }

    @include media-breakpoint-up(lg) {
      padding-left: $list-item-lg-margin / 2;
      padding-right: $list-item-lg-margin / 2;
    }
  }
}
