// stylelint-disable selector-max-compound-selectors
%components-list {
  @include make-container;
  @include make-container-max-widths;
  // iPhone X support
  @include notch-awesome;

  > .content {
    .list,
    .owl-carousel:not(.owl-loaded) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      @include media-breakpoint-up(md) {
        margin-left: -($list-item-md-margin / 2);
        width: calc(100% + #{$list-item-md-margin});
      }

      @include media-breakpoint-up(lg) {
        margin-left: -($list-item-lg-margin / 2);
        width: calc(100% + #{$list-item-lg-margin});
      }
    }

    .list > li,
    .owl-carousel > .item {
      flex: 0 1 100%;
      position: relative;
      width: 100%;
    }

    .list {
      margin-bottom: -$list-item-margin;
      padding-left: 0;

      > li {
        margin-bottom: $list-item-margin;

        @include media-breakpoint-up(md) {
          margin-bottom: $list-item-md-margin;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: $list-item-lg-margin;
        }
      }

      @include media-breakpoint-up(md) {
        margin-bottom: -$list-item-md-margin;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: -$list-item-lg-margin;
      }
    }
  }

  // Hide the default AEM pagination
  .pagination {
    display: none;
  }

  // Create the default page list child variant sizes
  @include pagelist-variant {
    flex: 0 1 100%;

    @include media-breakpoint-up(md) {
      flex-basis: percentage(4 / $grid-columns);
      max-width: percentage(4 / $grid-columns);
      padding-left: $list-item-md-margin / 2;
      padding-right: $list-item-md-margin / 2;
    }

    @include media-breakpoint-up(lg) {
      padding-left: $list-item-lg-margin / 2;
      padding-right: $list-item-lg-margin / 2;
    }
  }
}
