.text {
  @include clearfix;

  // Smaller text
  // TODO: Make this a utility class
  &-small {
    @extend small;
  }

  p {
    margin-bottom: 16px;

    @include media-breakpoint-up(md) {
      margin-bottom: 24px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }
}
