.text {
  @include clearfix;

  &-small {
    @extend small;
  }

  p {
    margin-bottom: $grid-gutter-width / 2;
  }

  ol,
  ul {
    padding-left: 20px;

    > li {
      padding-bottom: $line-height-base / 2;

      li {
        padding-bottom: 0;
        padding-top: $line-height-base / 2;
      }

      ol,
      ul {
        padding-left: 48px;
      }

      &::before {
        display: inline-block;
        font-size: $font-size-sm - 4px;
        left: -20px;
        position: absolute;
      }
    }
  }

  ul > li::before {
    content: 'â—';
  }

  ol {
    counter-reset: list-counter;

    > li::before {
      content: counter(list-counter);
      counter-increment: list-counter;
      font-size: $font-size-sm;
    }
  }

  // Push any heading directly after a paragraph tag further away
  @for $heading-level from 1 through 6 {
    p + h#{$heading-level} {
      padding-top: $grid-gutter-width;
    }
  }

  // Ensure the last child in the text component doesn't have a margin
  :last-child:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    margin-bottom: 0;
  }

  // Default spacing to keep components away from one another
  // TODO: Determine how we can adapt to this a reusable construct
  &:not([class*='spacing-']) + .image {
    padding-top: $grid-gutter-width;
  }
}
