.menu-overlay {
  background-color: rgba(color('black'), .5);
  content: '';
  display: block;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 300ms cubic-bezier(.5, 1, .89, 1) 0s;
  width: 100vw;
  z-index: $zindex-modal-backdrop;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  @include media-breakpoint-up(xl) {
    display: none;
  }
}
