// stylelint-disable selector-max-id

div.aside {
  @include notch-awesome($gutter-half-width);

  background-color: map-get($colors, 'white');
  border-right: 1px solid map-get($colors, 'grey-2');
  height: 100%;
  left: 0;
  min-height: 100vh;
  // stylelint-disable-next-line
  min-height: -webkit-fill-available;
  min-height: fill-available;
  overflow-y: auto;
  padding: #{$header-height + $grid-gutter-width} $gutter-half-width $gutter-half-width;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition-delay: 0s;
  transition-duration: 300ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  width: $sidebar-width;
  z-index: $zindex-modal;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }

  @include notch-awesome-query {
    width: $sidebar-width + 6rem;
  }

  @include media-breakpoint-up(xl) {
    transform: translateX(0);
  }

  #dls-home-button {
    margin-bottom: $grid-gutter-width;
  }

  @include aem-author-edit {
    display: none;
  }

  // Navigation
  @import '../components/navlist';
}
