&__actions,
&__nav {
  display: flex;
  height: 59px;
  margin: 0;
  width: 100%;

  @include media-breakpoint-up(xl) {
    height: 64px;
  }
}

&__nav,
&__admin {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
